.p-daily-report-form {
}

.p-daily-report-form__title-area {
  display: flex;
}

.p-daily-report-form__title-area__date-form {
  flex: 0 0 auto;
}

.p-daily-report-form__title-area__title-form {
  flex: 1 0 auto;
  margin-left: 1em; /* コード中に空白が表示されている関係で1文字分幅削っている */
}

.p-daily-report-form__content-form {
  width: 100%;
  resize: vertical;
  box-sizing: border-box;
  border: 0.1em solid #ddd;
  border-radius: 0.3em;
  padding: 0.5em 0.5em;
  height: 10em;
  outline: none;
}

@media(max-width: 640px) {
  .p-daily-report-form__date-form {
    width: 100%;
  }

  .p-daily-report-form__title-form {
    width: 100%;
    margin: 1rem 0 0;
  }
}
